doctype html
html(lang="zh-Hant-TW")
head
    title card
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(rel="stylesheet", href="style.css")
    script(src="./node_modules/jquery/dist/jquery.min.js")
body
    .namecard
        #map
        .info 
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDccWrnP-3yQ0h_SXABCLSKpYK8yfrIBbc&callback=initMap")
    script(src="index.js")